<?xml version="1.0" ?>

<launch>

	<param command="$(find xacro)/xacro $(find ddrobot_description)/urdf/ddrobot.xacro" name="robot_description"/>

	<node args="-param robot_description -urdf -model rur_detailed" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	 <!-- <include file="$(find ddrobot_description)/launch/sensor/ds4.launch" /> -->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		
	</include>

</launch>